*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1300px;
    margin: 0 auto;
}
.buttonhumin{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 80px;
    align-items: center;
}
.Conflict {
    display: flex;
    justify-content: center;
    background-color: grey;
    border-radius: 15px;
    margin-bottom: 50px;
}

.contracts h2 {
    font-family: Recoleta;
    font-weight: 600;
    font-size: 47px;
    line-height: 54px;
    letter-spacing: 0%;
    text-align: center;
 background-color: cornflowerblue;
 color: white;
}
.but{
    font-family: Recoleta;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    color: whitesmoke;
}

